* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align:center;
}
a {
  margin-bottom: 12px;
}
